<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> -->
      <button class="navbar-toggler" type="button" (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent"> -->
      <div class="collapse navbar-collapse"  #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/tabOne" routerLinkActive="active">tabOne</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/tabTwo" routerLinkActive="active">tabTwo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/tabThree" routerLinkActive="active">tabThree</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/tabFour" routerLinkActive="active">tabFour</a>
          </li>
         
          <li class="nav-item">
            <a class="nav-link" routerLink="/products" routerLinkActive="active">products</a>
          </li>
         
          <!-- <div *ngFor = "let prooducts of Products">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/product-detail', products.id]" routerLinkActive="active">products-detail</a>
            </li>
          </div> -->
          
         

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
 
          </li>
        
        </ul>
      
      </div>
    </div>
  </nav>

